.route_dir_status {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}
.route_details {
  width: 100%;
}
.route {
  margin: 0 0.5rem;
}
.route_name {
  padding: 0.5rem;
  width: 96.5%;
  border: none;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;
  outline: transparent;
}
.create_form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}
.add_stop_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f57c00;
}
.stop_details {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stop_name {
  width: 5rem;
  flex-grow: 2;
}
.lat {
  width: 4rem;
  flex-grow: 1;
}
.long {
  width: 4rem;
  flex-grow: 1;
}
